name: Security

on:
  schedule:
    - cron: '0 0 * * 1' # Every Monday at midnight
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:
    name: Security Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, json
          tools: composer:v2

      - name: Install dependencies
        run: composer update --prefer-dist --no-progress --no-interaction --prefer-stable

      - name: Check for security vulnerabilities
        run: composer audit
